# Copy to .env and fill values
PORT=4000
DEFAULT_ADMIN_PW=password

# SMTP (for email receipts)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Stripe keys
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Optional
NODE_ENV=production
